.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display:grid;
    grid-template: 175px 3fr/275px 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar{
    background-color: #1b96d3;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 22% 30% 15%;
}
.sidebar > div{
    padding-left: 6%;
}
.icon{
    height: auto;
    fill: white;
    }

.block-1{
    padding-top: 2%;
    display:grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    font-size: 28px;
}


.dashboard{
    width: 80%;
    padding-bottom: 40%;
}

.block-2, .block-3{
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    font-size: 20px;   
}

.block-2 svg, .block-3 svg{
    width: 60%;
    padding-left: 15%;
}

.block-2{
    grid-template-rows: repeat(7, 15%);
}

.header{
    display: grid;
    grid-template: 50% 50% / 70% 30%;
    padding-left: 5%;    
}

.search-bar{
    display: flex;
    align-items: center;
    
}

.magnifying_glass_icon{
    height: 80%;
    width: auto;
    fill:black; 
}

#search_bar{
    background-color: #e3ebf2;
    width: 80%;
    height: 30%;
    border-radius: 5px;
    border: none;
}
.search-bar > button{
    width: 10%;
    height: 50%;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.search-bar > button:active{
    box-shadow: 4px 4px 4px gainsboro inset;
    transform:translateY(2px);
    background-color: #e3ebf2;
}
.profile_name_alert{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    font-weight: bolder;

}
.bell_icon{
    width: auto;
    height: 40%;
    padding-left: 10%;
    padding-right: 2%;
}
.profile_img{
    height: 66%;
    max-width: auto;
    background-color: rgb(62, 62, 182);
    border-radius: 50%;
    padding: 5px;
}

.profile_name_alert > div{
    padding-right: 35%;
}
.welcome-box{
    display:flex;
    padding-left: 2%;
}

.welcome-box > img{
    height:80%;
    width: auto;
    padding:5px;
    background-color: rgb(62, 62, 182);
    border-radius: 50%;
}

.welcome-box div{
    padding-left: 1%;
    font-weight: 800;
    width: 80%;    
}
.welcome-box > div{
    font-size: 12px;  
}
.welcome-box > div :first-child{
    padding-bottom: 1%;
}
.welcome-box div ~ div{
    font-size: 26px;
}

.action_buttons{
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(100px, 15%));
}
.action_buttons button{
    min-width: 100px;
    max-width: 22%;
    height: 50%;
    font-weight: 800;
    font-size: 1vw;
    color: white;
    background-color: #1b96d3;
    border-radius: 20px;
    border: none;
}

.cards > :first-child{
    padding-left: 3%;
}
.cards{
    background-color: #e3ebf2;
    display: grid;
    grid-template: 5% 1fr 5% 1fr/3fr 1fr;
    padding: 2%;
    box-shadow: inset 0px 3px 5px 0px #969494;
}
.card_box > h4{
    font-size: 100%;
}
.card_box{
    display:grid;
    grid-area: 2/1/5/2;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
    gap:2%;
    padding: 2%;
}

.card_box > div{
    height:max(90%);
    background-color: white;
    padding: 5%;
    border-radius: 5%;
    border-left: 7px solid #edaa25;
    display: grid;
    grid-template-rows: 10% 70% 15%;
    box-shadow:  3px 3px 2px #969494;
    
}

.card_box > div > div, .Announcements > div > h5 ~ *, .id_tag > p {
    color: rgb(95, 95, 95);
    font-size: 80%;
}
.link_buttons{
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10%;
}
.link_buttons > svg{
    height: 70%;
}

.Announcements, .trending_card{
    background-color: white;
    border-radius: 5%;
    padding: 5%;
    box-shadow:  3px 3px 2px #969494;
}

.Announcements{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3%;
    margin-top: 6%;
    max-height: 90%;
}

.Announcements  div {
    border-bottom: 1px solid #969494;
}

.Announcements > :last-child {
    border-bottom: none;
}

.trending > img{
    width: max(60px);
    height: auto;
    border-radius: 50%;
    padding: 5px;
}
.bot_1{
   background-color: rgb(62, 62, 182) 
}
.bot_2{
    background-color: rgb(224, 0, 0);
}
.bot_3{
    background-color: rgb(150, 41, 150);
}
.bot_4{
    background-color: rgb(100, 214, 218);
}

.trending_card{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    min-height: 88%;
    max-height: 210px;    
}
.trending{
    display: flex;
    align-items: center;
}
.id_tag{
    padding-left: 5%;
}

